---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-red-300 h-full p-28">
    <!-- navbar -->
    <div
      class="absolute top-5 w-4/5 border bg-white m-auto right-1/2 translate-x-1/2 p-3 rounded-full flex justify-between"
    >
      <div>
        <span class="font-black">ask</span><span
          class="italic text-pink-500 font-medium">form</span
        >
      </div>
      <div class="flex gap-3">
        <div class="font-bold">Acceuil</div>
        <div class="text-slate-300">Fonctionnalité</div>
        <div class="text-slate-300">Tarif</div>
        <div class="text-slate-300">Démos</div>
      </div>
      <button>Se connecter</button>
    </div>
    <!-- header -->
    <div class="flex flex-col justify-center items-center h-[80vh] gap-3">
      <h1 class="font-bold text-white text-6xl text-center">
        Transformer <br /> vos besoins en Form.
      </h1>
      <p class="text-white font-medium">
        Une infinité de possibilité de générer et gérer ses besoins
      </p>
      <button class="bg-black rounded-lg text-white p-3">Commencer</button>
      <div class="flex">
        <div class="w-8 h-8 bg-blue-500 rounded-full mt-4 -mr-4 border"></div>
        <div class="w-8 h-8 bg-blue-500 rounded-full mt-4 -mr-4 border"></div>
        <div class="w-8 h-8 bg-blue-500 rounded-full mt-4 -mr-4 border"></div>
        <div class="w-8 h-8 bg-blue-500 rounded-full mt-4 -mr-4 border"></div>
        <div class="w-8 h-8 bg-blue-500 rounded-full mt-4 -mr-4 border"></div>
      </div>
      <p class="text-slate-300">Plus de 40 Bêta testeur recommandent askform</p>
    </div>
    <!-- Section 1 -->
    <div class="h-[80vh] flex flex-col justify-around items-center bg-red-200">
      <h2 class="font-bold text-3xl">
        Différents <span class="text-pink-300">Cas d’usage</span>
      </h2>
      <div class="flex relative">
        <div
          class="h-96 bg-slate-300 border w-96 rounded-lg absolute z-10 left-20 rotate-6"
        >
        </div>
        <div
          class="h-96 bg-slate-300 border w-96 rounded-lg absolute z-10 right-20 -rotate-6"
        >
        </div>
        <div class="h-96 bg-white border w-96 rounded-lg z-30"></div>
      </div>
    </div>
    <!-- Section 2 -->
    <div class="h-[80vh] flex flex-col justify-around items-center">
      <h2 class="font-bold text-3xl">
        Créer votre formulaire avec simplicité <span class="text-pink-500"
          >simplicité</span
        >
      </h2>
      <div class="h-[400px] w-[800px] bg-white border rounded-lg"></div>
    </div>
    <!-- Section 3 -->
    <div class="h-[80vh] flex flex-col justify-around items-center bg-red-200">
      <h2 class="font-bold text-3xl">Plusieurs besoin un seul outil.</h2>

      <div class="flex h-full gap-20 justify-between w-full items-center">
        <div class="flex flex-col gap-2 justify-center items-center w-1/2">
          <h3 class="font-bold text-2xl">Et bien plus encore...</h3>
          <div class="flex flex-col w-full gap-3">
            <div class="w-full border font-bold p-3 bg-white rounded-lg">
              Chat client
            </div>
            <div>Tracking demande</div>
            <div>Daily task</div>
            <div>Assignation</div>
          </div>
        </div>
        <div class="bg-blue-400 h-1/2 w-1/2 rounded-lg"></div>
      </div>
    </div>
  </main>
</Layout>
